.home {
    background-color: #f6f6fd;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    height: 100%;
}

.center {
    margin: 100px auto;
    padding: 50px;
    width: 75%;
    background-color: #fff;
    border-radius: 20px;
}
