.auth {
    height: 100vh;
    background-color: #f6f6fd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
}

.center>* {
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
}

img {
    height: 150px;
}

form {
    display: flex;
    flex-direction: column;
}

form>* {
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    height: 25px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

button {
    height: 40px;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button:hover {
    background-color: #ee5959;
    color: #fff;
    border: none;
}
