<div class="auth">
    <div class="center">
        <div class="logo">
            <img src="assets/img/cem.png" alt="logo cem">
        </div>
        <h2>S'authentifier</h2>
        <form action="">
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </div>
            <button>S'authentifier</button>
        </form>
    </div>
</div>
