.request {
    margin: 100px auto;
    padding: 50px;
    width: 75%;
    background-color: #fff;
    border-radius: 20px;
}

form, .input {
    display: flex;
    flex-direction: column;
}

.input, button, h2 {
    margin: 10px 20px;
}

input, select {
    height: 25px;
}

button {
    height: 35px;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 5px;
}    

button:hover {
    background-color: #ee5959;
    color: #fff;
    border: none;
}